body{
    margin: 0;
    padding: 0;
}

.content-body{
    background-color:#79a3b1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-calculadora{
    width: 400px;
    height: 450px;
    background-color:#9ad3bc ;
    border-radius: 10px;
    box-shadow: 2px 1px 29px 6px rgba(0,0,0,0.3) ;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85;
    grid-gap: 20px;
}

.screen{
    background-color:#456268 ;
    border-radius: 10px;
    color:#d0e8f2 ;
    padding: 15px;
    grid-column: 1 / 5;
}

.screen > input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    width: 100%;
}

.btn-cal{
    background-color:#d0e8f2;
}

.btn-cal-radius{
    border-radius: 10px;
}

.btn-cal > input {
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 30px;
}

.btn-cal :hover{
    background-color: #b088f9;
} 

.btn-cal > .equal {
    background-color: #79a3b1;
}

.btn-cal > .clean {
    background-color: #ec524b;
} 




    
}
  @media(max-width: 1024px){
    .contenido-calculadora{
      width: 200px;
      height: 300px;
    
    }
   
  
  @media(max-device-height: 653px){
    .screen{
      height: 300px;
    }
    #screen-memo-result{
      height: 120px;
    }
  }
  
  @media(max-device-width: 375px){
    .screen{
      height: 300px;
    }
    #screen-memo-result{
      height: 150px;
    }
  }
  
  
 
  }